<p id="notice"><%= notice %></p>
  <% @menu.menu_items.each do |menu_item| %>
  <!-- retter-->
    <div class="flex justify-between m-2 p-4 border-2 border-light-blue-500">
      <div>
        <%= menu_item.name %>
      </div>

      <div>
        <%= menu_item.price %>,-
      </div>
    </div>
<% end %>
