<%= link_to '<', admin_restaurant_path(@restaurant), class: "pr-5" %>
<div class="flex justify-center">

  <div>
    <h1 class="text-4xl m-4">New Sub Menu</h1>
    <%= render 'form_new', sub_menu: @sub_menu %>
  </div>
</div>
