<p id="notice"><%= notice %></p>

<div class="pt-20">
  <div class="lg:w-2/5 flex justify-center">
    <div class="w-full bg-green-200 rounded-xl p-3 ">
      <div class="flex justify-center mb-10">
        <!-- Menyer-->
        <%= render 'menu/menu' %>
        <!-- Meny-innhold-->
      </div>
      <div id="selected_menu">
        <% unless @selected %>
        <div>
          <%= render partial: 'menu/selected_menu', locals: { menu: MenuItem.where(:menu_id => 1) }  %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

