<div class="flex lg:py-24  pt-20 justify-center">

  <!-- Kort -->
  <div class="flex flex-col rounded-tl-3xl w-full bg-white lg:rounded-2xl lg:w-1/3">
    <div class="p-8">
      <div>
        <p class="mb-2 lg:mb-5 text-gray-900 font-semibold text-xl">Meny</p>
      </div>
      <div class="flex overflow-x-hidden">
        <!-- Menyer -->
        <% @restaurant.menus.where(:status => 1).each_with_index do |menu, index| %>
          <p class="pb-2 mr-4 text-gray-500 tracking-wide hover:text-gray-800">
            <%= link_to menu.name, selected_menu_path(:menu_id => menu), :onclick => 'get_id(this.id)', :id => index, :remote => true %></p>
        <% end %>
      </div>

      <!-- Meny-innhold-->
      <div id="selected_menu">
        <% unless @selected %>
          <div>
            <%= render partial: 'menu/selected_menu', locals: { menu: @restaurant.menus.first } %>
          </div>
        <% end %>
      </div>

      <br>
      <div class="text-sm text-gray-500">
        Allergener
        <br>
        <%= @restaurant.get_allergen_map.join(', ') %>
      </div>
    </div>
  </div>
</div>


<script>
    document.getElementById(0).classList.add("active");
    function get_id(id) {
        for (let i = 0; i < <%= @restaurant.menus.size %>; i++) {
            document.getElementById(i).classList.remove("active");
        }
        document.getElementById(id).classList.add("active");
    }
</script>


