<div class="flex lg:py-16 justify-center">

  <!-- Kort -->
  <div class="flex flex-col w-full bg-white lg:rounded-2xl lg:w-2/5">
    <div class="px-2 py-8 sm:px-8">
      <div>
        <p class="mb-4 lg:mb-6 text-gray-900 font-semibold text-xl">Meny</p>
      </div>
      <div class="flex overflow-x-scroll hide-scroll-bar ">
        <!-- Menyer -->
        <% @menus.each_with_index do |menu, index| %>
          <div class="pb-2 mr-4 text-gray-500 tracking-wide hover:text-gray-800 flex flex-nowrap">
            <%= link_to menu.name, selected_menu_path(menu), onclick: 'get_id(this.id)', id: index, remote: true %>
          </div>
        <% end %>
      </div>

      <!-- Meny-innhold-->
      <div id="selected_menu">
        <% if @selected.nil? && @menus.exists? %>
          <div>
            <%= render partial: 'menu/selected_menu', locals: { menu: @menus.first } %>
          </div>
        <% end %>
      </div>

      <br>
      <div class="text-sm text-gray-500">
        Allergener
        <br>
        <%= @restaurant.get_allergen_map.join(', ') %>
      </div>
    </div>
  </div>
</div>


<script>
    document.getElementById(0).classList.add("active");
    function get_id(id) {
        for (let i = 0; i < <%= @menus.size %>; i++) {
            document.getElementById(i).classList.remove("active");
        }
        document.getElementById(id).classList.add("active");
    }
</script>


