<div class="container mx-auto bg-gray-700 px-4 pb-1 pt-4">
  <p id="notice"><%= notice %></p>

  <table>
    <tbody>
      <% @orders.order(:id).each do |order| %>
        <tr>
          <table class="mb-4 table-fixed w-full text-white">
            <thead class="bg-gray-800">
              <tr class="h-20">
                <th class="text-left">
                  <div class="ml-8 inline-block w-9/12">
                    <strong>Sted: <%= order.location %> - Bestilling: <%= order.id %></strong>
                  </div>
                  <div class="inline-block">
                    <button class="collapsible", type="button">➤</button>
                  </div>

                </th>
              </tr>
            </thead>
            <tbody style="display: none"><!--Kolapser denne bodyen-->
              <% order.order_items.each do |order_item| %>
                <tr class="h-10">
                  <td class="pl-8">
                    <%= order_item.menu_item.name %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<style>
    tr:nth-child(even) {background-color: gray;}
</style>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.parentElement.parentElement.parentElement.parentElement.nextElementSibling
            if (content.style.display === "") {
                content.style.display = "none";
                this.innerText = "➤";
            } else {
                content.style.display = "";
                this.innerText = "▼";
            }
        });
    }
</script>
