<%= link_to '<', admin_restaurant_path(@restaurant), class: "pr-5"  %>
<div class="flex justify-center">
  <div>
    <h1 class="text-4xl m-4">Editing Restaurant</h1>
    <br>
    <%= render 'form_edit', restaurant: @restaurant %>
  </div>
</div>
