

<%= link_to '<', admin_restaurant_path(@menu_item.menu.restaurant), class: "pr-5" %>
<div class="flex justify-center">

  <div>
    <h1 class="text-4xl m-4">New Menu Item</h1>

      <%= render 'form_new', menu_item: @menu_item %>
      </div>
</div>
