<%= link_to '<', admin_restaurant_path(@restaurant.id), class: "pr-5" %>
<div class="flex justify-center">

  <div>
    <h1 class="text-4xl m-4">Rediger meny</h1>
    <%= render 'form_edit', menu: @menu %>
  </div>
</div>